%description-12 {
    font-family: $font-suisse-bp, Ubuntu;
    font-size: 1.2rem;
}

%description-14 {
    font-family: $font-suisse-bp, Ubuntu;
    font-size: 1.4rem;
}

%description-16 {
    font-family: $font-suisse-bp, Ubuntu;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.03rem;
}

%description-18 {
    font-family: $font-suisse-bp, Ubuntu;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.03rem;
}
