.preloader {
    @extend %center;
    @extend %cover;
    display: none;
    background-color: $color-contessa;
    color: $color-white;
    text-align: center;
}

.preloader__text{
    @extend %title-53;
    max-width: 74rem;
}

.preloader__number{
    @extend %description-14;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}