
.collections {
  @extend %page;

  z-index:0
  // background-color: $color-quicksand;
  // color: $color-quarter-spanish-white;
}

.collections__wrapper {
  @extend %cover;
  overflow: hidden;
  
}

.collections__titles {
  @extend %vertical-titles;
  transition: transform 1s ease; // smooth animation
}

.collections__titles__label{
  @extend %vertical-titles__label;

}

.collections__titles__title{
  @extend %vertical-titles__title;
  
}

.collections__gallery {
 @extend %cover;
 z-index: 1;
}

.collections__gallery__wrapper {
  align-items: center;
  display: flex;
  position: absolute;
  left: 50%; // center the gallery
  top: 50%;
  transform: translate(-44.7rem * 0.5, -50%); // center the gallery
  
}

.collections__gallery__link{
  display: block;
  margin: 0 5.3rem;

  // center the gallery
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-left: 0;
  }
}

.collections__gallery__media {
  width: 44.7rem;
  height: 63.1rem;
  position: relative;
  visibility: hidden;
  
}

.collections__gallery__media__image{
  @extend %cover;
  object-fit: cover;
}


.collections__content {
  @extend %cover;
  
}

.collections__article {
  position: absolute;
  bottom: 8rem;
  left: 8rem;
  opacity: 0;
  transition: opacity 0.4s 0.4s ease; // title text transition

  &--active{
    opacity: 1;
    transition: opacity 0.4s 0.4s ease // title text transition
  }
}

.collections__article__title{
  @extend %title-60;
  
}

.collections__article__description{
  @extend %description-16;
  max-width: 44rem;
}

.collections__mobile{
  bottom: 5rem;
  display:none;
  position:absolute;
  @include media('<phone'){
    display: flex;
  }
}

.collections__mobile__item{
  padding-left: 5rem;
  width: 100vw;
}

.collections__mobile__item__label{
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.collections__mobile__item__title{
  font-family: $font-george-x;
  font-size: 12rem;
}