/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home__link__icon, .home__gallery__media__image, .home__gallery, .home__wrapper, .detail__button__icon, .detail__media__image, .collections__content, .collections__gallery__media__image, .collections__gallery, .collections__wrapper, .about__highlight__media__image, .about__gallery__image, .about__content__media__image, .navigation, .preloader, .content, body, html, .home, .detail, .collections, .about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home, .detail, .preloader {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.dg.ac {
  z-index: 99999 !important;
}

.detail__information__item__title, .detail__information__collection, .about__links__title, .about__highlight__label, .about__content__label, .home__titles__label, .collections__titles__label {
  font-family: "Suisse BP", Ubuntu;
  font-size: 1.2rem;
}

.home__link, .detail__button, .preloader__number {
  font-family: "Suisse BP", Ubuntu;
  font-size: 1.4rem;
}

.detail__information__item_description, .detail__information__highlight__text, .collections__article__description, .about__links__item, .about__links__description, .about__content__description {
  font-family: "Suisse BP", Ubuntu;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}

body {
  font-family: "Suisse BP", Ubuntu;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03rem;
}

.navigation__list__link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

.navigation__list__link:after {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
}

.navigation__list__link:hover:after {
  transform: scaleX(1);
  transform-origin: left center;
}

.navigation__list__link:after {
  transform: scaleX(0);
  transform-origin: right center;
}

.navigation__list__link {
  display: inline-block;
}
.home, .detail, .collections, .about {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.home--active {
  opacity: 1;
  visibility: visible;
}

.navigation__list__link {
  font-family: "George X", Aboreto;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
}
.detail__information__link {
  font-family: "George X", Aboreto;
  font-size: 3rem;
}
@media (max-width: 767px) {
  .detail__information__link {
    font-size: 5.2rem;
  }
}

.preloader__text span span {
  font-family: "George X", Aboreto;
  font-size: 5.3rem;
  line-height: 1;
}

.collections__article__title {
  font-family: "George X", Aboreto;
  font-size: 6rem;
}

.about__title {
  font-family: "George X", Aboreto;
  font-size: 10rem;
  line-height: 1.1;
}
@media (max-width: 767px) {
  .about__title {
    font-size: 12rem;
  }
}

.detail__information__title {
  font-family: "George X", Aboreto;
  font-size: 12rem;
  line-height: 0.82;
}
@media (max-width: 767px) {
  .detail__information__title {
    font-size: 18rem;
  }
}

.about__highlight__title, .home__titles__title, .collections__titles__title {
  font-family: "George X", Aboreto;
  font-size: 20rem;
}
.home__titles, .collections__titles {
  align-items: center;
  display: flex;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  top: 50%;
}

.home__titles__label, .collections__titles__label {
  letter-spacing: 0.1rem;
  margin: 0 3rem;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(90deg);
}

.home__titles__title, .collections__titles__title {
  padding-top: 2rem;
}

@font-face {
  font-family: "George X";
  src: url("../../fonts/george-x-regular.woff2") format("woff2"), url("../../fonts/george-x-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse BP";
  src: url("../../fonts/suisse-bp-regular.woff2") format("woff2"), url("../../fonts/suisse-bp-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse BP";
  src: url("../../fonts/suisse-bp-light.woff2") format("woff2"), url("../../fonts/suisse-bp-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse BP";
  src: url("../../fonts/suisse-bp-ultralight.woff2") format("woff2"), url("../../fonts/suisse-bp-ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  position: fixed;
  overflow: hidden;
  background-color: #0c273c;
  color: #f9f1e7;
  font-size: 0.5208333333vw;
  line-height: 1;
}
@media (max-width: 767px) {
  html {
    font-size: 1.3333333333vw;
  }
}

body {
  font-family: "Suisse BP", Ubuntu;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

canvas {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle;
}
img.loaded {
  opacity: 1;
}

[data-animation=title] span,
[data-animation=paragraph] span,
[data-animation=label] span {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.preloader {
  background-color: #0c273c;
  color: #fff;
  text-align: center;
}

.preloader__text {
  font-size: 0;
  max-width: 74rem;
}
.preloader__text span {
  display: inline-block;
  overflow: hidden;
}
.preloader__number {
  position: absolute;
  overflow: hidden;
  bottom: 7.3rem;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .preloader__number {
    font-size: 2.4rem;
  }
}

.preloader__number__text {
  display: inline-block;
}

.navigation {
  color: #f9f1e7;
  pointer-events: none;
  position: fixed;
  z-index: 3;
}

.navigation__link {
  font-size: 0;
  height: 2rem;
  left: 4rem;
  pointer-events: auto;
  padding-bottom: 0.2rem;
  position: absolute;
  top: 4rem;
  transition: opacity 0.4s ease;
  width: 12.8rem;
}
.navigation__link:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .navigation__link {
    height: 4.3rem;
    left: 5rem;
    top: 5rem;
    width: 27.9rem;
  }
}

.navigation__link__icon {
  display: block;
}

.navigation__list__item {
  pointer-events: auto;
  position: absolute;
  right: 4rem;
  top: 4rem;
}

.navigation__list__link {
  display: block;
}

.about__wrapper {
  padding-top: 10rem;
}

.about__title {
  margin: auto;
  text-align: center;
  max-width: 140rem;
}
@media (max-width: 767px) {
  .about__title {
    max-width: 67.7rem;
  }
}

.about__content {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20rem auto;
}
.about__content:first-child {
  margin-top: 0;
}
.about__content:last-child {
  margin-bottom: 0;
}
.about__content:nth-child(5) {
  justify-content: flex-end;
}
.about__content:nth-child(8) {
  justify-content: flex-start;
}

.about__content__wrapper {
  display: flex;
}
.about__content--right .about__content__wrapper {
  flex-direction: row-reverse;
}

.about__content__box {
  display: flex;
}

.about__content__label {
  width: 18rem;
  text-transform: uppercase;
}

.about__content__description {
  width: 36.2rem;
}
.about__content__description p:not(:first-child) {
  margin-top: 2.5rem;
}

.about__content:nth-child(3) .about__content__media {
  height: 67.6rem;
  width: 72.6rem;
  position: relative;
  margin-left: -10rem;
}
.about__content:nth-child(4) .about__content__media {
  height: 74.8rem;
  width: 53.7rem;
  position: relative;
  margin-left: 17.8rem;
}

.about__content__media__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__gallery {
  position: relative;
  height: 58.6rem;
  margin: 15rem 0;
  pointer-events: none;
  visibility: hidden;
}
.about__gallery:first-child {
  margin-top: 0;
}
.about__gallery:last-child {
  margin-bottom: 0;
}

.about__gallery__wrapper {
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about__gallery__media {
  position: relative;
  margin: 0 4rem;
  height: 43.7rem;
  width: 30.9rem;
}

.about__gallery__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__highlight {
  margin: 20rem 0;
}

.about__highlight__wrapper {
  height: 104rem;
  margin: auto;
  position: relative;
  width: 144rem;
}
.about__highlight:nth-child(4) .about__highlight__wrapper {
  width: 104rem;
}
@media (max-width: 768px) {
  .about__highlight__wrapper {
    height: 316.2rem;
    width: 100%;
  }
  .about__highlight:nth-child(4) .about__highlight__wrapper {
    height: 119.3rem;
    width: 100%;
  }
}

.about__highlight__label {
  left: 50%;
  letter-spacing: 0.1rem;
  position: absolute;
  top: 9rem;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  width: 9.6rem;
}
@media (max-width: 768px) {
  .about__highlight__label {
    font-size: 2.4rem;
    margin-top: 6.5rem;
    top: 90rem;
    width: 19rem;
  }
}

.about__highlight__link[href] {
  transition: color 0.4s ease;
}
.about__highlight__link[href]:hover {
  color: #fff;
}

.about__highlight__title {
  padding-bottom: 2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
@media (max-width: 768px) {
  .about__highlight__title {
    font-size: 30rem;
    margin-top: 6.5rem;
  }
}

.about__highlight__media {
  height: 60.7rem;
  overflow: hidden;
  position: absolute;
  width: 42.9rem;
}
.about__highlight:nth-child(4) .about__highlight__media {
  height: 52.8rem;
  width: 36rem;
}
.about__highlight__media:first-child {
  left: 0;
  top: 0;
}
.about__highlight__media:last-child {
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .about__highlight:last-child .about__highlight__media {
    height: 76rem;
    width: 54rem;
  }
  .about__highlight:last-child .about__highlight__media:first-child {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .about__highlight:last-child .about__highlight__media:last-child {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}

.about__highlight__media__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__links {
  display: flex;
  position: relative;
  margin: 20rem auto 20rem 99.3rem;
}

.about__links__wrapper {
  display: flex;
}

.about__links__title {
  width: 18rem;
  text-transform: uppercase;
}

.about__links__description {
  width: 49.4rem;
  margin-bottom: 2rem;
}

.about__links__item__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.about__links_link {
  color: red;
}

.collections {
  z-index: 0;
}

.collections__wrapper {
  overflow: hidden;
}

.collections__titles {
  transition: transform 1s ease;
}

.collections__gallery {
  z-index: 1;
}

.collections__gallery__wrapper {
  align-items: center;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-22.35rem, -50%);
}

.collections__gallery__link {
  display: block;
  margin: 0 5.3rem;
}
.collections__gallery__link:first-child {
  margin-left: 0;
}
.collections__gallery__link:last-child {
  margin-left: 0;
}

.collections__gallery__media {
  width: 44.7rem;
  height: 63.1rem;
  position: relative;
  visibility: hidden;
}

.collections__gallery__media__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.collections__article {
  position: absolute;
  bottom: 8rem;
  left: 8rem;
  opacity: 0;
  transition: opacity 0.4s 0.4s ease;
}
.collections__article--active {
  opacity: 1;
  transition: opacity 0.4s 0.4s ease;
}

.collections__article__description {
  max-width: 44rem;
}

.collections__mobile {
  bottom: 5rem;
  display: none;
  position: absolute;
}
@media (max-width: 767px) {
  .collections__mobile {
    display: flex;
  }
}

.collections__mobile__item {
  padding-left: 5rem;
  width: 100vw;
}

.collections__mobile__item__label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.collections__mobile__item__title {
  font-family: "George X";
  font-size: 12rem;
}

@media (max-width: 767px) {
  .detail {
    height: auto;
  }
}

.detail__wrapper {
  align-items: center;
  display: flex;
}

.detail__media {
  position: relative;
  height: 78.2rem;
  width: 55.4rem;
}

.detail__media__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.detail__information {
  padding-left: 8.2rem;
  text-align: left;
}

.detail__information__collection {
  text-transform: uppercase;
  padding-bottom: 5rem;
}

.detail__information__title {
  max-width: 60rem;
  line-height: 12rem;
}

.detail__information__content {
  padding-left: 18rem;
}

.detail__information__highlights {
  margin-top: 5rem;
}

.detail__information__highlight {
  align-items: center;
  display: flex;
}
.detail__information__highlight:not(:first-child) {
  margin-top: 4rem;
}

.detail__information__highlight__icon {
  border: 0.5px solid #fff;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin-right: 3.75rem;
}

.detail__information__highlight__text {
  padding-left: 0;
}

.detail__information__list {
  margin-top: 4rem;
}

.detail__information__item {
  display: flex;
}
.detail__information__item:not(:first-child) {
  margin-top: 4rem;
}

.detail__information__item__title {
  padding-right: 2.5rem;
  width: 10rem;
}

.detail__information__item_description {
  max-width: 44rem;
}

.detail__information__link {
  display: inline-block;
  margin-top: 3rem;
}

.detail__button {
  align-items: center;
  bottom: 5rem;
  display: flex;
  height: 6rem;
  justify-content: center;
  left: 50%;
  opacity: 1;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: opacity 0.4s ease;
  width: 12.4rem;
  z-index: 2;
}
.detail__button span {
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .detail__button {
    bottom: 12rem;
    height: 13rem;
    width: 26.8rem;
  }
}

.home {
  text-align: center;
}
.home__wrapper:before, .home__wrapper:after {
  content: "";
  height: 35rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.home__wrapper:before {
  background: linear-gradient(to bottom, #0c273c 15%, rgba(12, 39, 60, 0) 100%);
  top: 0;
}
.home__wrapper:after {
  background: linear-gradient(to top, #0c273c 15%, rgba(12, 39, 60, 0) 100%);
  bottom: 0;
}

.home__gallery {
  position: relative;
  width: 250.8rem;
  height: 172.5rem;
  visibility: hidden;
}
@media (max-width: 768px) {
  .home__gallery {
    padding: 0 1.5rem;
  }
}

.home__gallery__media {
  position: absolute;
}
.home__gallery__media:nth-child(1) {
  width: 27.8rem;
  height: 41.8rem;
  top: 16.6rem;
  left: 9.4rem;
}
.home__gallery__media:nth-child(2) {
  width: 27.8rem;
  height: 41.8rem;
  top: 19.4rem;
  left: 54rem;
}
.home__gallery__media:nth-child(3) {
  width: 27.8rem;
  height: 41.8rem;
  top: 10.9rem;
  left: 106.3rem;
}
.home__gallery__media:nth-child(4) {
  width: 40.6rem;
  height: 60.8rem;
  top: 0;
  left: 154.1rem;
}
.home__gallery__media:nth-child(5) {
  width: 27.8rem;
  height: 41.8rem;
  top: 10.6rem;
  left: 207rem;
}
.home__gallery__media:nth-child(6) {
  width: 37.5rem;
  height: 52.3rem;
  top: 69.3rem;
  left: 0;
}
.home__gallery__media:nth-child(7) {
  width: 40.6rem;
  height: 60.8rem;
  top: 66.4rem;
  left: 46.7rem;
}
.home__gallery__media:nth-child(8) {
  width: 39.7rem;
  height: 58.2rem;
  top: 64.9rem;
  left: 101.4rem;
}
.home__gallery__media:nth-child(9) {
  width: 27.8rem;
  height: 41.8rem;
  top: 64rem;
  left: 160rem;
}
.home__gallery__media:nth-child(10) {
  width: 39.7rem;
  height: 58.2rem;
  top: 64.9rem;
  left: 202.1rem;
}
.home__gallery__media:nth-child(11) {
  width: 27.8rem;
  height: 41.8rem;
  top: 129.1rem;
  left: 13rem;
}
.home__gallery__media:nth-child(12) {
  width: 27.8rem;
  height: 41.8rem;
  top: 130.6rem;
  left: 54rem;
}
.home__gallery__media:nth-child(13) {
  width: 27.8rem;
  height: 41.8rem;
  top: 128.8rem;
  left: 105.7rem;
}
.home__gallery__media:nth-child(14) {
  width: 27.8rem;
  height: 41.8rem;
  top: 111.1rem;
  left: 163.9rem;
}
.home__gallery__media:nth-child(15) {
  width: 27.8rem;
  height: 41.8rem;
  top: 128.8rem;
  left: 206.3rem;
}
@media (max-width: 768px) {
  .home__gallery__media {
    padding: 1.5rem;
    width: 50%;
  }
  .home__gallery__media--2, .home__gallery__media--3, .home__gallery__media--4, .home__gallery__media--5 {
    transform: translateY(0);
  }
}

.home__gallery__media__image {
  opacity: 1;
}

.home__link {
  align-items: center;
  bottom: 50%;
  display: flex;
  height: 6rem;
  justify-content: center;
  left: 50%;
  letter-spacing: 0.05rem;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 28.8rem;
  z-index: 2;
}
.home__link span {
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .home__link {
    bottom: 7.5rem;
    height: 13.7rem;
    width: 55rem;
  }
}/*# sourceMappingURL=index.css.map */